html {
    font-family: Lato, GillSans, Calibri, Trebuchet, sans-serif;
  }

main {
  margin-top: 25px;
}

/*Styling to apply layered look of decks in side-nav */
.deck {
  background: #eee;
  box-shadow:
  0 1px 1px rgba(0,0,0,0.15),
  0 8px 0 -4px #eee,
  0 8px 1px -3px rgba(0,0,0,0.15),
  0 16px 0 -8px #eee,
  0 16px 1px -7px rgba(0,0,0,0.15);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
}

/*Styles for currently selected deck in side-nav*/
.current {
text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
text-decoration: underline;
border: 2px solid #8C3932;
border-radius: 4px;
box-shadow: none;
}

a {
  color: inherit;
}

#translation {
  font-size: 1rem;
  padding-left: 7px;
  padding-right: 7px;
}

#logo {
  font-size: 1.7rem;
}

li a {
  font-size: 1.3rem !important;
  color: #00838f !important;
}

#deck-header {
  font-size: 1.9rem;
  color: #8C3932;
}

#underline {
  border-top: 2px solid #8C3932;
  border-bottom: 2px solid #8C3932;
  line-height: 10px;
  font: 1px;
  font: hidden;
}

.card-counter {
  font-size: 1.3rem;
  color: #8C3932;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 15px;
}

#action-button {
  margin-right: 10px;
}

#remove-card a {
  background: #f44336;
}

.card-action {
  font-weight: bold;
}

select {
  font-weight: normal;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
